*{
  margin:0;
  padding:0;
}
body{
  box-sizing:border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  width:80%;
  margin: auto;
}
.row {
  display:flex;
  justify-content: space-between;
  flex:row wrap;
}
hr{
  margin:10px 5px;
  color:gray;
}
button{
  padding:0.5rem;
  border:none;
}
.nav-container, footer{
  width:100%;
  margin: auto;
  background: #133F77;
  padding:1.5rem 0rem;
}
nav{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  color:white;
  width:80%;
  margin: auto;
}
nav li{
  display: inline;
  margin:5px;
}
a{
  text-decoration: none;
  color:white;
}
nav button{
  padding:0.5rem;
}
nav button a{
  color:#133F77;
}
.menu-icon{
  display: none;
}
.fa-bars{
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 8px;
}
.btn1{
  display:block;
}
.btn2{
  display:none;
}
/* login and sign up */
.card{
  background-color:white;
  border-radius: 4px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.06);
  padding: 1rem;
}
.login-sign-in{
  width:50%;
  margin:auto;
  margin-top:100px;
  padding: 1rem;
}
.login-sign-in h1{
  text-align: center;
  margin: 10px;
}
.input-container{
  width:95%;
  margin-bottom: 10px;
}
.input-container input{
  width: 100%;
  padding: 1rem;
}
.login-btn button{
  padding:0.5rem 1rem;
  /* float: right; */
}
.login-sign-in a{
  color:#133F77;
}
/* overview */

.col button{
  padding:0.5rem;
  color:white;
  border:none;
  border-radius: 4px;
  margin:5px;
}
.col .recieve{
  background-color: green;
}
.col .send{
  background-color: red;
}
.tr-row{
  display:flex;
  justify-content: space-between;
}
.trans-type{
  border-radius:50%;
  color:white;
  display:flex;
  justify-content:center;
  align-items: center;
  width: 40px;
}
.Dr{
  background-color: red;
}
.Cr{
  background-color: green;
}
.trans-details{
  width: 95%;
}
/* profile */
.profile-card{
  /* width:70%; */
  margin:auto;
}
.profile-img-box{
  width:60px;
  height:60px;
  display: flex;
  border: 1px solid #133F77;
  border-radius: 50%;
}
.profile-img-box img{
  width:100%;
  height:100%;
  object-fit:contain;
}
sup{
  color:#133F77;
}
.profile-card input{
  border:none;
  border-bottom:1px solid black;
  width:100%;
}
.profile-card button{
  padding:0.1rem 0.4rem;
  margin-top:20px;
}
.verification{
  background-color: #133F77;
  color:white;
  margin-top: 20px;
}
.input-container-verification{
  padding:1rem 0.2rem;
}
.verification input{
  width: 100%;
  padding:0.7rem 0.2rem;
}
.profile-bar a{
  color:black;
}
.main-section-home{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("/src/bg.jpg")no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}
.main-section-home h1{
  margin-top:200px;
}
.main-section-home p{
  font-size:50px;
  width: 50%;
}

/* footer */
footer{
  margin-top: 50px;
  color:white;
}
.footer{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  /* margin-top:10px; */
  width: 80%;
  margin:auto;
}
.footer li{
  display: inline;
  margin: 0 5px;
}

@media screen and (max-width:960px) {

  .menu{
    width:100%;
    margin: auto;
    margin-top:10px;
    display: flex;
    flex:row wrap;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
  }
  .item{
    display: flex;
    flex-direction: column;
    width:100%;
    position: absolute;
    top:80px;
    left:-100%;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .item.active{
    background: #133F77;
    padding-top:20px;
    left:0;
    opacity: 1;
    transition: all 0.3s ease;
    height:70vh;
    z-index: 1;
  }
  .menu-icon{
    display: block;
    position:absolute;
    top:0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times{
    font-size: 2rem;
    color: #fff;
    border: 1px solid #fff;
    padding:5px 8px;
    z-index: 2;
  }
  .btn1{
    display:none;
  }
  .btn2{
    display:block;
  }
  .container{
      width:95%;
  }
  .row{
      flex-direction:column;
  }
  .trans-type{
      border-radius:50%;
      color:white;
      display:flex;
      justify-content:center;
      align-items: center;
      width: 40px;
      height: 40px;
  }
  .login-sign-in{
    width:90%;
    margin:auto;
  }
  .input-container{
    width:90%;
    margin-bottom: 10px;
  }
  .input-container input{
    width: 100%;
    padding: 1rem;
}
.login-sign-in h1{
  font-size:18px;
}
.footer{
  display: flex;
  flex-direction:row-reverse;
  justify-content:space-between;
  width: 90%;
  font-size:12px;
}
.footer li{
  display: inline;
  margin: 0 5px;
}
}